extends ../layouts/application.pug

block header
  h1.display-4.fw-bold.mt-4= t('views.statuses.title')

block content
  a.btn.btn-primary.me-1(href=route('newStatus'))= t('views.statuses.action.create')
  .table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead
        tr
          th= t('views.statuses.id')
          th= t('views.statuses.name')
          th= t('views.statuses.createdAt')
          th= t('views.actions')
      tbody
        each status in statuses
          tr
            td= status.id
            td= status.name
            td= formatDate(status.createdAt)
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-1(href=`/statuses/${status.id}/edit`)= t('views.statuses.action.change')
                +buttonTo(`/statuses/${status.id}`, 'delete')(class="btn btn-danger" value=t('views.statuses.action.delete'))