extends ../layouts/application.pug

block header
  = t('views.labels.title')

block content
  a.btn.btn-primary.mb-5(href=route('newLabel'))= t('layouts.application.createLabel')
  .table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead
        tr
          th.py-3= t('views.labels.table.id')
          th.py-3= t('views.labels.table.name')
          th.py-3= t('views.labels.table.createdAt')
          th= t('views.actions')
      tbody
        each label in labels
          tr
            td= label.id
            td= label.name
            td= formatDate(label.createdAt)
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-1(href=`/labels/${label.id}/edit`)= t('views.labels.table.action.change')
                +buttonTo(`/labels/${label.id}`, 'delete')(class="btn btn-danger" value=t('views.labels.table.action.delete'))