extends ../layouts/application.pug

block header
  h1.display-4.fw-bold= task.name

block content
  .row.mt-5.p-5.shadow.bg-white
    .col-12.col-md-8.order-2.order-md-1
      .lead.fw-normal.mb-4
        = task.description
    .col-12.col-md-4.border-start.px-3.order-1.order-md-2.mb-3.mb-md-0
      .mb-2
        span.me-1.badge.bg-danger.text-white
          = task.status.name
        each label in task.labels
          span.me-1.badge.bg-info.text-white
            = label.name
      .d-flex.flex-wrap.mb-3
        span.text-muted.me-2
          = t('views.task.creator')
        span
          = `${task.creator.firstName} ${task.creator.lastName}`
      .d-flex.flex-wrap.mb-3
        span.text-muted.me-2
          = t('views.task.executor')
        span
          = `${task.executor.firstName} ${task.executor.lastName}`
      .d-flex.flex-wrap.mb-3
        span.text-muted.me-2
          = t('views.task.createdAt')
        span
          = formatDate(task.createdAt)
      .d-flex.flex-wrap
        a(href=`/tasks/${task.id}/edit`).btn.btn-primary.me-1
          = t('views.task.edit.submit')
        +buttonTo(`/tasks/${task.id}`, 'delete')(class="btn btn-danger" value=t('views.task.delete.submit'))