include ../mixins/forms.pug

doctype html
html(lang="en")
  head
    title Task Manager
    script(src=assetPath('main.js'))
    link(href=assetPath('main.css') rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body.d-flex.h-100.text-center.text-white.bg-dark
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-auto
        a.h3.float-md-start.mb-0.text-white.text-decoration-none(href=route('root'))= t('appName')
        nav.nav.nav-masthead.justify-content-center.float-md-end
          a.nav-link.active(href=route('users'))= t('layouts.application.users')
          if isAuthenticated()
            +buttonTo(route('session'), 'delete')(class="nav-link" value=t('layouts.application.signOut'))
          else
            a.nav-link(href=route('newSession'))= t('layouts.application.signIn')
            a.nav-link(href=route('newUser'))= t('layouts.application.signUp')

      main.px-3
        each messages, type in reply.flash() || []
          each message in messages
            div.alert(class=`alert-${getAlertClass(type)}`)= message

      h1
        block header
      block content

      footer.mt-auto.text-white-50
          a(target="_blank" href="https://ru.hexlet.io") Hexlet